<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS (CDN)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <header class="text-white bg-dark" style="height: 10vh;">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <h1 class="ms-3 col">Vue.JS (CDN)</h1>
                <a href="index.html" class="btn btn-secondary col-1 m-3">หน้าแรก</a>
                <a href="function.html" class="btn btn-secondary col-1 m-3">การทำงาน</a>
                <a href="multivue.html" class="btn btn-secondary col-1 m-3">MultiVue</a>
            </div>
        </div>
    </header>
    
    <!-- multiple Vue -->
    <div class="container m-3">
        <div id="likeSystem" class="mt-3">
            <button class="btn btn-info" v-on:click="addLike">Like</button>
            <div class="h4 alert-danger col-1 text-center mt-3">{{like}}</div>
        </div>
        <hr>

        <!-- Component -->
        <h3>สร้าง Component</h3>
        <div id="customtag">
            <showview title="View Count" v-bind:view="100"></showview>
        </div>
        <hr>

        <!-- Data & Component -->
        <div id="post">
            <h3>หัวข้อ : กระดานสนทนา </h3>
            <div class="fs-5">เนื้อหา : พูดคุยทั่วไป</div> 
        </div>

        <div id="comment">
            <ul class="list-group list-group-flush w-50">
                <showcomment v-for="uc in userComment" v-bind:commentpost="uc"></showcomment>
            </ul>
            <br>
            <form action="#">
                <span>ชื่อผู้ใช้</span>
                <input v-model="newComment.user" class="form-control w-25"><br>
                <span>ข้อความ</span>
                <textarea cols="30" rows="5" v-model="newComment.com" v-on:keyup.enter="addComment" class="w-50 form-control"></textarea><br>
                <button class="btn btn-success" @click="addComment">ส่งข้อความ</button>
            </form>
        </div>
        <hr>

        <!-- Slots -->
        <div id="vueSlots">
            <foodApp>
                <h4>อาหารอีสาน</h4>
                <ul>
                    <li>ลาบ</li>
                    <li>ส้มตำ</li>
                </ul>
            </foodApp>
            <foodApp>
                <h4>อาหารใต้</h4>
                <ul>
                    <li>แกงเหลือง</li>
                    <li>แกงไตปลา</li>
                </ul>
            </foodApp>
        </div>
        <template id="foodarea">
            <div id="food">
                <slot></slot>
            </div>
        </template>
    </div>
    <hr>

    <!-- VueJS + Firebase Database -->
    <div class="container col-md-6 m-3" id="chatbox">
        <h2>Vue.js + Firebase Tutorial</h2>
        <div class="card">
            <div class="card-body bg-dark text-white" v-for="message in messageGroup">
                <h5 class="card-title" v-if="message!=editText">{{message.text}}</h5>
                <textarea v-else name="" id="editText" class="form-control" v-model="messageText"></textarea>
                <p class="card-text text-muted">{{message.name}}</p>
                <div v-if="message!=editText">
                    <a href="#" class="card-link text-warning" @click.prevent="editMessage(message)">แก้ไข</a>
                    <a href="#" class="card-link text-danger" @click.prevent="deleteMessage(message.id)">ลบ</a>
                </div>
                <div v-else>
                    <a href="#" class="card-link text-warning" @click.prevent="updateMessage()">อัพเดท</a>
                    <a href="#" class="card-link text-danger" @click.prevent="cancelMessage()">ยกเลิก</a>
                </div>
            </div>
        </div>
        <br>
        <form v-if="!editText" class="form-group" @submit.prevent="storeMessage">
            <label for="">ชื่อผู้ใช้</label>
            <input type="text" class="form-control" v-model="name" required>
            <label for="">แสดงความคิดเห็น</label>
            <textarea name="" id="" class="form-control" v-model="messageText"></textarea><br>
            <button type="submit" class="btn btn-primary">ส่ง</button>
        </form>
    </div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCHbngPrGRFO2Q88n-QizVbCRyzIXACeNw",
    authDomain: "vuejsproject-a109e.firebaseapp.com",
    databaseURL: "https://vuejsproject-a109e-default-rtdb.firebaseio.com",
    projectId: "vuejsproject-a109e",
    storageBucket: "vuejsproject-a109e.appspot.com",
    messagingSenderId: "596092691566",
    appId: "1:596092691566:web:02e1fb3ac0f3548e0c727f",
    measurementId: "G-79P8L7KNH5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<script src="multiapp.js"></script>

</body>
</html>