/*หน่วยใน CSS
px pixel โดย 1px = 0.75pt สัมพันธ์กับรายละเอียดหน้าจอ
pt point โดย 1pt = 1/72 inches ใช้ในงานสิ่งพิมพ์
cm เซนติเมตร
mm มิลลิเมตร
in inches โดย 1in = 96px = 2.54cm 
pc picas โดย 1pc = 12 pt

% มักใช้กับความกว้าง ความสูง
em อ้างอิงจาก parent ใกล้สุด เช่น เริ่มต้น 10px --> 2em = 20px
rem อ้างอิงจาก root (ตัวครอบนอกสุด)
vw 1% width ของ browser
vh 1% height ของ browser
vmin , vmax กำหนดสูงสุด ต่ำสุด ของ viewport
*/

/* tag */
h1{
    color: crimson;
}
/* class */
.title{
    color: darkolivegreen;
}
/* id */
#title{
    color: peru;
}
/* multiple */
.title,#title{
    font-style: italic;
}
/* เฉพาะ class title ใน tag h1 */
h1.title{
    font-size: 50px;
}
/* เฉพาะ id title ใน tag h1 */
h1#title{
    font-size: 70px;
}
/* universal (ตัว * ) มีผลต่อทุก tag */
*{
    /* ทุก element รวมกันได้ค่าตามที่ระบุ */
    box-sizing: border-box; 
}

/* ทดสอบกำหนดขนาด */
.box1{
    width: 100%;
    font-size: 50px;
    background-color: teal;
}
.box2{
    width: 50%;
    font-size: 0.75em;
    background-color: tomato;
}
.box3{
    width: 50%;
    font-size: 0.75em;
    background-color: darkgoldenrod;
}

/* รูปแบบ ขนาด น้ำหนัก สี พื้นหลัง สไตล์ ลักษณะ fonts */
.font1{
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: darkred;
    background-color: thistle;
    font-style: oblique;
    text-decoration: underline;
}
.font2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #DDA0DD;
    background-color: #483D8B;
    font-style: italic;
    text-decoration: line-through;
}
.googlefonts{
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;
}

/* การจัดแนวข้อความ */
.textalign1{
    text-align: left; /* right center justify(กระจาย) */
}

/* กำหนดกว้างสูง ต่ำสุดสูงสุด กำหนดขอบ(รูปแบบ สี ขนาด มุม)*/
.img1{
    width: 30%;
    height: 300px;
    min-width: 200px;
    max-height: 500px;
    margin: 5px;
}
.div1{
    background-color: seagreen;
    width: 100px;
    height: 100px;
    border: solid 5px black;
}
.div2{
    background-color: seagreen;
    width: 100px;
    height: 100px;
    border: dotted 5px crimson;
}
.div3{
    background-color: seagreen;
    width: 100px;
    height: 100px;
    border-style: double;
    border-color: crimson;
    border-width: 5px;
    border-left-width: 20px;
    border-radius: 10px 20px 30px 40px;
}

/* Box Model (padding คือ เนื้อหาด้านในกับขอบวัตถุ margin คือ ระยะห่างกับวัตถุอื่น สี(ภาพ)พื้นหลัง)*/
.boxall{
    text-align: center;
    border: solid 5px saddlebrown;
    background-color: tan;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.box10{
    margin: 20px 30px 40px 50px; /* top right bottom left */
    padding: 10px 20px 30px 40px;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2018/08/15/13/10/galaxy-3608029_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

/* กำหนดวัตถุลอยซ้าย ขวา float clear(ไม่อนุญาตให้มีการลอย) */
.container{
    width: 960px;
    margin: 30px auto;
}
.box{
    background-color: antiquewhite;
    border: solid 1px black;
    margin-bottom: 20px;
}
.box12{
    float: left;
    width: 30%;
}
.box13{
    float: right;
    width: 70%;
}
.clr{
    clear: both;
}

/* link style ปกติ เคยกด เอาเมาส์ชี้ กดค้าง */
.noneline{
    font-size: 20px;
    text-decoration: none;
}
a:link{
    color: brown;
}
a:visited{
    color: darkorange;
}
a:hover{
    text-decoration: underline;
    color: darkorchid;
    background-color: darkseagreen;
}
a:active{
    background-color: deepskyblue;
    color: maroon;
}

/* Display (none ไม่แสดง inline แนวนอน block แนวตั้ง inline-block แนวนอนขยายพื้นที่ด้านใน)
   Block(เต็มบรรทัด) -> form nav aside ol ul li div p h1-h6 table thead tfoot header main section article footer blockqoute 
                      canvas dd dl dt fieldset figcaption figure hr noscript pre video address
   Inline(เท่าเนื้อหา) -> a br button img input label object output script span strong time textarea sub sup small 
                       big em map var cite kbd dfn em abbr acronym bdo
*/
.li-style{
    display: inline;
    padding-right: 20px;
}
.displaybox{
    width: 30%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    margin: 10px;
    display: inline-block;
}

/* visibility ไม่กระทบ layout*/
.img-invis{
    visibility: hidden;
}

/* position
    static      แบบปกติ   
    relative    นับจากจุดที่วัตถุนั้นอยู่
    absolute    กำหนดตำแหน่งจากขอบ element ที่ครอบ (ถ้าไม่มีคือ body)
    fixed       อยู่ตำแหน่งเดิม
    sticky      ติดขอบเมื่อเลื่อนไปถึง
 */
.pos-box{
     width: 100px;
     height: 100px;
}
#posbox-1{
     background-color: maroon;
     position: relative;
     left: 60px;
     top: 50px;
     z-index: 1;    /* ย้ายเลเยอร์ box1 มาด้านหน้า */
}
#posbox-2{
     background-color: skyblue;
     position: absolute;
     top: 60px;
     left: 300px;
}
#posbox-3{
     background-color: olive;
     position: absolute;
     top: 10px;
     left: 180px;
}
#posbox-4{
     background-color: peru;
     position: fixed;
     top: 0;
     right: 0;
}
#posbox-5{
     background-color: purple;
     position: sticky;
     bottom: 0;
}
.pos-container{
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #333;
}
.posbox-close{
    background-color: snow;
}

/* overflow จำกัดการแสดงผล visible แสดง hidden ซ่อนที่เกิน scroll เลื่อนเนื้อหาส่วนเกิน*/
.flow-div{
    width: 300px;
    height: 100px;
    border: dashed 2px sienna;
    overflow: scroll;
}

.img2{
    height: 300px;
    width: auto;
    margin: 10px;
}

/* cursor style */
.hovercursor{
    cursor: progress;
}

/* box-shadow : x(+ขวา -ซ้าย) y(+ล่าง -บน) blur(ขนาดความมัว) spread(ขนาดเงา) color(สีเงา) */
.boxshadow1{
    box-shadow: 10px 10px 10px 5px grey ;
}

/* opacity ความทึบ*/
.boxopacity1{
    opacity: 0.3;
}
.boxopacity2{
    opacity: 0.8;
}

/* text-shadow : x y blur color */
.h1-shadow{
    text-shadow: 2px 5px 5px black;
}

/* transform ย้ายตำแหน่ง หมุน ขยาย เอียง*/
.img-transform{
    /* transform: translate(600px,10px); */
    /* transform: rotate(100deg); */
    /* transform: scale(2,1); */
    transform: skew(10deg,10deg);
}

/* transition */
.box-transition{
    width: 100px;
    height: 100px;
    background-color: crimson;
    color: crimson;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    /* transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s; */
    transition:  background-color 3s, color 3s, width 1s ease-in 2s;
}
.box-transition:hover{
    background-color: #333;
    color: white;
    width: 500px;
}

/* animation */
.box-animation{
    background-color: greenyellow;
    color: greenyellow;
    width: 100px;
    height: 200px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* animation-name: box-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in; */

    position: relative;
    animation-name: box-animate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes box-animate {
    from {
        width: 100px;
        color: greenyellow;
    }
    to{
        width: 500px;
        color: crimson;
    }
}
@keyframes box-animate2 {
    0% {
        top:0px;
        left:0px;
    }
    25% {
        top:0px;
        left:300px;
        color: crimson;
    }
    50% {
        top:-300px;
        left:300px;
        width: 200px;
    }
    75% {
        top:-300px;
        left:0px;
        width: 300px;
    }
    100% {
        top:0px;
        left:0px;
    }
}


