<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Article</title>
    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
</head>
<body>
    <%- include layout %>
    <div class="container mt-3">
        <h2 class="text-center">เขียนบทความ</h2>
        <% if(locals.sendErrors){ %>
        <ul class="alert alert-danger">
            <% Object.values(sendErrors).forEach(function(error){ %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>

        <form action="/blog/add" method="post">
            <div class="form-group mb-3">
                <label class="form-label" for="">ชื่อบทความ</label>
                <input type="text" name="articleName" value="" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="">ผู้เขียน</label>
                <input type="text" name="writerName" value="" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="">รายละเอียด</label>
                <textarea name="articleDesc" id="articleDesc" class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="บันทึกบทความ">
        </form>
    </div>

    <script>
        ClassicEditor
            .create( document.querySelector( '#articleDesc' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>