.responsive{
    color: white;
    text-align: center;
    display: none;
}
/* responsive (max-width max-height) smartphone */ 
@media only screen and (max-width:500px){
    body{
        background-color: darkmagenta;
    }
    #smartphone{
        display: block;
    }
}
/* tablets */
@media (min-width:501px) and (max-width:768px){
    body{
        background-color: teal;
    }
    #tablets{
        display: block;
    }
}
/* laptop desktop */
@media (min-width:769px) and (max-width: 1200px){
    body{
        background-color: brown;
    }
    #normal{
        display: block;
    }
}
/* widescreen */
@media (min-width: 1201px) {
    body{
        background-color: #f4f4f4f4;
    }
    #widescreen{
        display: block;
        color: black;
    }
}
/* landscape */
@media (max-height: 500px) {
    body{
        background-color: forestgreen;
    }
    #landscape{
        display: block;
    }
}





/* Viewport สัดส่วน % ของจอที่แสดงผล */
*{
    box-sizing: border-box;
}
header{
    background-color: #333;
    color: gainsboro;
    height: 30vh;
    width: 100vw;
    text-align: center;
}
header h1{
    font-size: 3rem;
}
.alink{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #333;
    padding: 0.75rem;
}

/* flexbox ใช้จัดการ element กำหนดขนาดให้พอดีกับพื้นที่ว่างอัตโนมัติ
    flex-direction กำหนดทิศทางการเรียง
    flex-wrap จัด item ที่เกินให้อยู่ในพื้นที่ container
    flex-shrink หดตัวได้กี่เท่า เมื่อเทียบกับ item อื่น
    flex-grow ขยายตัวได้กี่เท่า
    flex-basis กำหนดค่าความยืดหยุ่นเริ่มต้น
    flex:1 ให้ item เต็มพื้นที่ container พอดี
*/
.flex-container{
    display: flex;
    background-color: cornflowerblue;
    flex-direction: row;
}
.item{
    background-color: orange;
    border: solid 1px black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.item-1{
    flex-shrink: 2;
}
.item-2{
    flex-grow: 3;
}
.item-3{
    flex-basis: 300px;
}
.flex-1{
    flex: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}

/* justify-content จัดวางตำแหน่งเทียบแกนหลัก
    flex-start ชิดซ้าย    center กึ่งกลาง   flex-end ชิดขวา
    space-around ห่างซ้ายขวาเท่ากัน     space-between ติดมุม
*/
.justify-1{
    justify-content: space-around;
}

/* alignment จัดวางตำแหน่งเทียบแกนตรงข้าม */
.align-1{
    height: 30vh;
    align-items: center;
}
.align-2{
    align-self: flex-start;
}

/* Grid layout 2มิติ แถว+คอลัมน์ */
.grid-container{
    display: grid;
    grid-template-rows: repeat(3,auto);
    /* grid-template-columns: 100px auto 200px; */
    /* grid-template-columns: repeat(3,auto); */
    /* หน่วย fr แบ่งเป็นสัดส่วน */
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.grid-item{
    background-color: orange;
    border: solid 1px white;
    text-align: center;
    padding: 30px;
    font-size: 1.3em;
    font-weight: bold;
}
/* ใช้นับตำแหน่งเส้น */
.grid-item:first-child{
    background-color: yellowgreen;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}
.grid-item:last-child{
    background-color: violet;
    grid-column: 2/4;
    grid-row: 4/8;
}
/* ใช้ span นับตำแหน่งช่อง*/
.grid-item:nth-child(2){
    background-color: tomato;
    grid-row: 2/span 2;
    grid-column: 1/span 2;
}
/* Grid-template-area */
.grid-container-area{
    display: grid;
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 10fr 2fr;
    grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer'
    ; */
    grid-template:
    'header header' 3fr
    'sidebar content' 10fr
    'footer footer' 2fr
    /1fr 3fr;
    font-size: 1.5rem;
}
.header-item{
    background-color: yellowgreen;
    grid-area: header;
}
.sidebar-item{
    background-color: powderblue;
    grid-area: sidebar;
}
.content-item{
    background-color: tomato;
    grid-area: content;
}
.footer-item{
    background-color: violet;
    grid-area: footer;
}






/* Targeted Selectors */
/* decendant (ทั้งหมดใน tag)*/
div p{
    background-color: greenyellow;
}
/* child (เฉพาะชั้นถัดจาก tag) */
div>p{
    background-color: indianred;
}

/* style by attribute */
a[target]{
    background-color: maroon;
    color: white;
}
a[target='_blank']{
    background-color: #333;
    color: white;
}

/* special attribute */
input[type='email'] , input[type='text']{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}

/* pseudo */
.li-child{
    padding: 0.25rem;
    margin: 0.25rem;
    list-style: none;
}
.li-child:first-child{
    background-color: yellowgreen;
}
.li-child:last-child{
    background-color: tomato;
}
.li-child:nth-child(even){
    background-color: cornflowerblue;
}
.li-child:nth-child(2n+3){
    background-color: var(--theme-color);
}
.is-required::after{
    content: "*";
    color: red;
    padding: 5px;
}

/* CSS variable */
:root{
    --border-box: 1px solid red;
    --theme-color: crimson;
}

